[Unit]
Description=Oyunkeyf Service

[Service]
Type=simple
WorkingDirectory=/home/eguneys/oyun
ExecStart=/home/eguneys/oyun/bin/oyun -Dhttp.port=9000 -Dconfig.file=/home/eguneys/oyun/application.conf -Dplay.crypto.secret="CGaoEJFtIlSYs51FO1QN9nZ1zhqxwWjoWAk1vwW19oU=" 
Restart=always

[Install]
WantedBy=multi-user.target
